<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature android:name="android.hardware.fingerprint" android:required="false"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_ACCESSIBILITY" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.POST_NATIFICATION" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SoundAndVibration"
            android:exported="true"
            android:label="@string/sound_and_vibration"
            android:theme="@style/Theme.MyApplication"/>
        <activity
            android:name=".FocusSettings"
            android:exported="true"
            android:label="@string/customize_focus"
            android:theme="@style/Theme.MyApplication"/>
        <activity
            android:name=".MenuSettings"
            android:exported="true"
            android:label="@string/customize_reading_controls"
            android:theme="@style/Theme.MyApplication"/>
        <activity
            android:name=".TTSSettings"
            android:exported="true"
            android:label="@string/tts_settings"
            android:theme="@style/Theme.MyApplication"/>
        <activity
            android:name=".Verbosity"
            android:exported="true"
            android:label="@string/verbosity"
            android:theme="@style/Theme.MyApplication"/>
        <service
             android:name=".FeedbackService"
            android:exported="true"
          android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:label="@string/app_name">
            <intent-filter>
                  <action android:name="android.accessibilityservice.AccessibilityService" />
                <category android:name="android.accessibilityservice.category.FEEDBACK_AUDIBLE" />
                <category android:name="android.accessibilityservice.category.FEEDBACK_HAPTIC" />
                <category android:name="android.accessibilityservice.category.FEEDBACK_SPOKEN" />
            </intent-filter>
            <meta-data
                android:resource="@xml/service_conf"
                android:name="android.accessibilityservice"
            />
    </service>
        <service
             android:name="com.google.android.marvin.talkback.TalkbackService"
            android:exported="true"
          android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:label="@string/app_name">
            <intent-filter>
                  <action android:name="android.accessibilityservice.AccessibilityService" />
                <category android:name="android.accessibilityservice.category.FEEDBACK_AUDIBLE" />
                <category android:name="android.accessibilityservice.category.FEEDBACK_HAPTIC" />
                <category android:name="android.accessibilityservice.category.FEEDBACK_SPOKEN" />
            </intent-filter>
            <meta-data
                android:resource="@xml/service_conf"
                android:name="android.accessibilityservice"
            />
    </service>
    </application>

</manifest>
